
body {
    display: grid;
    grid-template-rows: 100px 3fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr 3fr 100px;
    grid-template-columns:1fr;
    grid-template-areas:    "nav"
                            "big1"
                            "small1"
                            "small2"
                            "small3"
                            "small4"
                            "big2"
                            "small5"
                            "small6"
                            "small7"
                            "small8"
                            "big3"
                            "footer";
}
@media screen and (min-width: 550px){
    body {
        display: grid;
        grid-template-rows: 100px 2fr 1fr 1fr 2fr 1fr 1fr 2fr 100px;
        grid-template-columns:1fr 1fr;
        grid-template-areas:    "nav nav"
                                "big1 big1"
                                "small1 small2"
                                "small3 small4"
                                "big2 big2"
                                "small5 small6"
                                "small7 small8"
                                "big3 big3"
                                "footer footer";
    }
}
@media screen and (min-width: 950px){
    body {
        display: grid;
        grid-template-rows: 100px 2fr 1fr 2fr 1fr 2fr 100px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-areas:    "nav nav nav nav"
                                "big1 big1 big1 big1"
                                "small1 small2 small3 small4"
                                "big2 big2 big2 big2"
                                "small5 small6 small7 small8"
                                "big3 big3 big3 big3"
                                "footer footer footer foorer";
    }
}
#nav{
    grid-area:nav;
}
#big1{
    grid-area:big1;
}
#small1{
    grid-area:small1;
}
#small2{
    grid-area:small2;
}
#small3{
    grid-area:small3;
}
#small4{
    grid-area:small4;
}
#big2{
    grid-area:big2;
}
#small5{
    grid-area:small5;
}
#small6{
    grid-area:small6;
}
#small7{
    grid-area:small7;
}
#small8{
    grid-area:small8;
}
#big3{
    grid-area:big3;
}
#footer{
    grid-area:footer;
}
#big1 img{
    width:100%;
    height:100%;
}
#big2 img{
    width:100%;
    height:100%;
}
#big3 img{
    width:100%;
    height:100%;
}

